<p id="notice"><%= notice %></p>

<p>
  <strong>Startdate:</strong>
  <%= @sprint.startdate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @sprint.enddate %>
</p>

<%= link_to 'Edit', edit_sprint_path(@sprint) %> |
<%= link_to 'Back', sprints_path %>
